@font-face {
    font-family: PP Woodland Ultralight;
    src: url(PPWoodland-Ultralight.woff);
  }
  
  h1, h2, h3 {
    font-family: PP Woodland Ultralight, serif;
    color: white;
  /*   color: darkslateblue; */
    font-weight: 100;
  }
  h1 {
    font-size: 4vw;
  }
  
  h2 {
    font-size: 1.5vw;
    text-transform: uppercase;
  }
  
  h3 {
    font-size: 2vw;
  /*   color: darkslateblue; */
  /*   text-transform: uppercase; */
  }
  
  a:link {
    position: relative;
    color: white;
  /*   color: darkslateblue; */
    text-decoration: none;
  }
  
  a:visited {
  /*   color: darkslateblue; */
    color: white;
  }
  
  a:hover {
  /*   color: darkslateblue; */
    color: white;
    cursor: none;
  }
  
  a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 1vh;
    left: 0;
  /*   bottom: 0; */
    /* background-color: #000; */
    background-color: white;
  /*   background-color: darkslateblue; */
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.5s ease-in-out 0s;
  }
  
  a:hover::before {
    visibility: visible;
    transform: scaleX(1);
  }
  